<html>
    <head>
        <h1>To Do List</h1>
    </head>

    <body>
        <nav>
            <span>{{ request.user }}</span>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
        <form method="POST" action="/">
            {% csrf_token %}
            {{ form.title }}
            <input type="submit" name="Add New Task"> 
        </form>

        {% for task in tasks %}
        <div>
            <a href="{% url 'edit_task' task.pk %}">Edit</a>
            <a href="{% url 'delete_task' task.pk %}">Delete</a>
            {% if task.status == True %}
            <strike><p>{{ task }}</p></strike>
            {% else %}
            <span>{{ task }}</span>
            {% endif %}
        </div>
        {% endfor %}

    </body>
</html>