{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ToDoApp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'todo/main.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm mb-4">
            <div class="container">
                <a class="navbar-brand" hfer="#">ToDo List Application</a>
                <div class="ml-3">Hello: {{ request.user }}</div>
                <div class="logout">
                    <a href="{% url 'logout' %}"><strong>Logout</strong></a>
                <div>
            </div>
        </nav>

        <div class="container">
            <div class="row">

                <div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3 task-header">
                        <h1>Create Task</h1>
                        
                        <form  method="POST" action="/">
                            {% csrf_token %}
                            
                            {{form.title}}
                            <button type="submit" class="btn mb-3 btn-sub">Confirm</button> 
                        </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3 main-theme">

                        {% for task in tasks %}
                            <div class="task-row grid-container">
                                {% if task.status == True %}
                                <div class="cross-txt">{{ task }}</div>
                                {% else %}
                                <div>{{ task }}</div>
                                {% endif %}  

                                <div class="ml-3">
                                    <div class="time">{{task.created_time|date:"SHORT_DATE_FORMAT"}} {{task.created_time|time:"h:i a"}}</div>
                                    <div class="d-inline"><a class="btn btn-sm btn-info" href="{% url 'edit_task' task.pk %}">Edit</a></div>
                                    
                                    <form class="d-inline" method="POST" action="{% url 'delete_task' task.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>

        
    </body>
</html>

