body{
    margin: 0;
    padding: 0;
    color: #efefef;
    background: #75726f;
    font-family: sans-serif;
}

.logout
{
    margin-left: auto;
    text-align: right;
}

h1
{
    margin: 10px 0 0 10px;
    padding: 0;
    font-size: 24px;
    text-align: left;
}

input[type="text"]
{
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
}
.btn-sub
{
    width: 100%;
    font-size: 18px;
    padding: 3px 12px;
    background: rgba(19, 35, 47, 0.9);
    color: #efefef;
}
.btn-sub:hover
{
    background: rgba(23, 76, 116, 0.9);
    border: none;
}
.task-header
{
    background-color: #179b77;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

input::placeholder {
  color: #b4b2b2;
}

.main-theme
{
    margin: 20px auto;
    padding:20px;
    background-color: rgba(19, 35, 47, 0.9);
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.task-row
{
    background-color: #179b77;
    margin-bottom: 12px;
    padding: 14px;
    border-radius: 3px;
    color: #efefef;
    font-size: 16px;
}

.btn-danger
{
    background-color: #771313;
    border-color: #d4d4d4a6;
    padding: 5px;
    min-width: 51px;
}

.btn-danger:hover
{
    border-color: #d4d4d4a6;
}

.btn-info
{
    background-color: rgba(23, 76, 116, 0.9);
    border-color: #d4d4d4a6;
    padding: 5px;
    min-width: 51px;
}

.btn-info:hover
{
    background-color: rgba(7, 112, 192, 0.9);
    border-color: #d4d4d4a6;
}

.task-btn
{
    margin-left: auto;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.cross-txt
{
    text-decoration: line-through;
}
.time
{
    font-size: 10px;
    color: #b1f5e3;
    text-align: center;
}

/* EDIT MODE */

input[type="checkbox"]
{
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6cc;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .4s;
}

input:checked[type="checkbox"]
{
    background: rgba(0,0,0,0.75);
}

input[type="checkbox"]::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #efefef;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transform: scale(1.1);
    transition: .4s;
}

input:checked[type="checkbox"]::before
{
    left:20px;
}

.form-check
{
    padding: 0;
}