body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #b8b2ae!important;
    color: #efefef;
}
.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(19, 35, 47, 0.9);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.form_container {
    margin-top: 20px;
}
#form-title{
    color: #efefef;  
}
.login_btn {
    width: 100%;
    background: #179b77;
    color: #efefef!important;
}
.login_btn:focus {
    box-shadow: none !important;
outline: 0px !important;
}
.login_btn:hover {
    background: #1ab188;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #b8b2ae!important;
    color: rgba(19, 35, 47, 0.9) !important;
    border: 0px !important;
    border-radius: 0.25rem 0 0 0.25rem !important
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;

}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {   
    border-color: #179b77;
    box-shadow: 0 2px 2px rgba(23,155,119, 0.075) inset, 0 0 4px rgba(23,155,119, 0.8);
    outline: 0 none;
}
input:focus::-webkit-input-placeholder{
    color: #179b77;
}
input:focus:-moz-placeholder{
    color: #179b77;
}
input:focus::-moz-placeholder{
    color: #179b77;
}

#SUCmessages{
    background-color: #28a745;
    color: #efefef;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
#ERmessages{
    background-color: #e07109;
    color: #efefef;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}